body {
    background-color: grey;
    color: white;
}

#img {
    width: 150px;
    height:150px;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
}

#insta {
    width: 20px;
    height:20px;
    object-fit: cover;
}

#tik_tok {
    width: 20px;
    height:20px;
    object-fit: cover;

}

#threads {
    width: 20px;
    height:20px;
    object-fit: cover; 
}

