@charset "UTF-8";
body {
    background-color: rgb(235, 199, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(0, 139, 93);
}

h2 {
    color: darkred
}

p {
    text-align: justify;
}